body {
  background:#ddd;
  font-family:Verdana,Tahoma,Helvetica;
  font-size:0.75em;
}

.page {
  width:890px;
  background:#fff;
  box-shadow:0px 0px 10px #444;
  margin:35px auto;
  padding:8px;
}

ul.stats {
  list-style:none;
  padding:0;
  margin:0;
}

.progress-bar {
  margin:8px 0;
  box-shadow:0px 1px 3px #777 inset;
  padding:1px;
  height:22px;
  width:100%;
  background:-moz-linear-gradient(top,#555 0%,#606060 29%,#666 30%,#888 100%);
  background:-webkit-linear-gradient(top,#555 0%,#606060 29%,#666 30%,#888 100%);
  overflow:hidden;
}

.progress-bar .progress {
  box-shadow:0px 1px 3px #fff;
  height:22px;
}

.progress-bar .blue {
  background: -moz-linear-gradient(top,#B3D6EF,#4093CE);
  background: -webkit-linear-gradient(top,#B3D6EF,#4093CE);
}


ul.stats .title {
  margin-top:11px;
  margin-right:8px;
  text-align:right;
  width:12%; 
  float:left;
}

ul.stats .progress-bar {
  width:85%;
  float:left;
}

.header {
  margin-left:15px;
}

.header a {
  text-decoration:none;
}

.header h1 {
  font-size:2.5em;
  font-weight:normal;
  padding:0;
  text-shadow:0px 3px 2px #eee;
}

.header .blue {
  color:#60A3DE;
}

.header .green {
  color:#2EEA7D;
}

.footer {
  text-align:center;
  margin-top:10px;
}

ul.icons {
  list-style:none;
  padding:0;
  margin:0;
  margin-top:20px;
}

ul.icons li {
  border:1px solid #aaa;
  display:block;
  background:-moz-linear-gradient(top,#fff,#eee);
  background:-webkit-linear-gradient(top,#fff,#eee);
  box-shadow:0px 1px 2px #aaa;
  padding:6px;
  border-radius:10px;
  width:45%;
  margin-left:15px;
  margin-bottom:15px;
  float:left;
}

ul.icons li a {
  text-decoration:none;
  color:#333;
}

ul.icons .title {
  font-size:1.5em;
}

ul.icons .icon {
  float:left;
  width:78px;
}

ul.icons .description {
  float: left;
}

.clearfix {
  clear:both;
}

/** Form **/
form {
	padding:6px;
}

form .row {
	display:block;
	margin-bottom:6px;
}

form .row label {
	font-size:1.25em;
	display:block;
}

form .row input[type="text"], form .row input[type="password"], form .row input[type="email"] {
	border:none;
	font-size:1.5em;
	background:-moz-linear-gradient(top,#eee 0%, #fff 20%);
	background:-webkit-linear-gradient(top,#eee 0%, #fff 20%);
	padding:6px;
	border:1px solid #ddd;
	width:100%;
}

form .row .field {
	margin-left:15px;
}

form .row input[type="submit"], form .row button {
	border:1px solid #029CE6;
	border-bottom:1px solid #67767D;
	font-family:Arial;
	text-transform:uppercase;
	border-radius:3px;
	font-size:1.1em;
	font-weight:bold;
	text-shadow:0px 1px 0px #087EBB;
	color:#fff;
	box-shadow:inset 0px 1px 0px #7BC3F5;
	padding:11px 29px;
	background:-moz-linear-gradient(bottom, #1293EE, #6AB3F8);
	background:-webkit-linear-gradient(bottom, #1293EE, #6AB3F8);
}

form .row input[type="submit"]:focus, form .row button:focus {
	outline:none;
}

form .row input[type="submit"]:active, form .row button:active {
	background:#199AED;
	text-shadow:none;
	color:rgba(255,255,255,0.5);
	border:1px solid #0388E7;
	box-shadow:none;
}

.alert {
	text-align:center;
	padding:4px;
	width:auto;
	margin:4px 8px;
}

.alert.danger {
	color:#220000;
	background:#ffcccc;
	border:1px solid #770000;
}

.container-center {
	margin-left:auto;
	margin-right:auto;
}

.width-1-2 {
	width:50%;
}