body {
	background:#ddd;
	font-family:Verdana,Tahoma,Helvetica;
	font-size:0.75em;
}

.page {
	width:890px;
	background:#fff;
	box-shadow:0px 0px 10px #444;
	margin:35px auto;
	padding:8px;
}

ul.stats {
	list-style:none;
	padding:0;
	margin:0;
}

ul.stats .text {
	float:left;
	margin-top:9px;
	font-size:1.25em;
}

.progress-bar {
	border-radius:3px;
	margin:8px 0;
	box-shadow:0px 1px 3px #777 inset;
	padding:1px;
	height:22px;
	width:100%;
	background:-moz-linear-gradient(top,#555 0%,#606060 29%,#666 30%,#888 100%);
	background:-webkit-linear-gradient(top,#555 0%,#606060 29%,#666 30%,#888 100%);
	overflow:hidden;
}

.progress-bar .progress {
	box-shadow:inset 0px 5px 6px rgba(255,255,255,0.5);
	height:22px;
}

.progress-bar .blue {
	background: -moz-linear-gradient(top,#B3D6EF,#4093CE);
	background: -webkit-linear-gradient(top,#B3D6EF,#4093CE);
}


ul.stats .title {
	margin-top:11px;
	margin-right:8px;
	text-align:right;
	width:12%; 
	float:left;
}

ul.stats .progress-bar {
	width:85%;
	float:left;
}

.header {
	margin-left:15px;
}

.header a {
	text-decoration:none;
}

.header h1 {
	font-size:2.5em;
	font-weight:normal;
	padding:0;
	text-shadow:0px 3px 2px #eee;
}

.header .blue {
	color:#60A3DE;
}

.header .green {
	color:#2EEA7D;
}

.footer {
	text-align:center;
	margin-top:10px;
}

ul.icons {
	list-style:none;
	padding:0;
	margin:0;
	margin-top:20px;
}

ul.icons li {
	border:1px solid #aaa;
	display:block;
	background:-moz-linear-gradient(top,#fff,#eee);
	background:-webkit-linear-gradient(top,#fff,#eee);
	box-shadow:0px 1px 2px #aaa;
	padding:6px;
	border-radius:10px;
	width:45%;
	margin-left:15px;
	margin-bottom:15px;
	float:left;
}

ul.icons li a {
	text-decoration:none;
	color:#333;
}

ul.icons .title {
	font-size:1.5em;
}

ul.icons .icon {
	float:left;
	width:78px;
}

ul.icons .description {
	float: left;
}

.clearfix {
	clear:both;
}

/** Form **/
form {
	padding:6px;
}

.row {
	display:block;
	box-sizing:border-box;
	margin-bottom:6px;
}

.row label {
	font-size:1.25em;
	display:block;
}

.row input[type="text"], .row input[type="password"], .row input[type="email"], .row input[type="file"], select {
	border:none;
	font-size:1.5em;
	background:-moz-linear-gradient(top,#eee 0%, #fff 20%);
	background:-webkit-linear-gradient(top,#eee 0%, #fff 20%);
	padding:6px;
	border:1px solid #ddd;
	width:100%;
	outline:none;
	box-sizing:border-box;
}

.row .field {
	margin-left:15px;
}

.row input[type="submit"], .row button {
	border:1px solid #029CE6;
	border-bottom:1px solid #67767D;
	font-family:Arial;
	text-transform:uppercase;
	border-radius:3px;
	font-size:1.1em;
	font-weight:bold;
	text-shadow:0px 1px 0px #087EBB;
	color:#fff;
	box-shadow:inset 0px 1px 0px #7BC3F5;
	padding:11px 29px;
	background:-moz-linear-gradient(bottom, #1293EE, #6AB3F8);
	background:-webkit-linear-gradient(bottom, #1293EE, #6AB3F8);
}

.row input[type="submit"]:focus, .row button:focus {
	outline:none;
}

.row input[type="submit"]:active, .row button:active {
	background:#199AED;
	text-shadow:none;
	color:rgba(255,255,255,0.5);
	border:1px solid #0388E7;
	box-shadow:none;
}

/* Alert */
.alert {
	text-align:center;
	padding:4px;
	width:auto;
	margin:4px 8px;
}

.alert.danger {
	color:#220000;
	background:#ffcccc;
	border:1px solid #770000;
}

/* Container */
.container-center {
	margin-left:auto;
	margin-right:auto;
}

/* Width */
.width-1-2 {
	width:50%;
}

/* File Grid */
.file-grid {
	list-style:none;
	padding-left:0;
}

.file-grid li {
	display:inline-block;
	vertical-align:top;
	padding:5px;
	width:96px;
	border:1px solid #fff;
}

.file-grid li.selected {
	border:1px solid #33559f;
	background:#ffefd9;
}

.file-grid .icon {
	display:block;
	height:64px;
	margin:2px auto;
}

.file-grid .title {
	text-align:center;
	word-wrap: break-word;
}

ul.button-group {
	list-style:none;
	padding:0;
	margin:0;
	border-radius:4px;
	box-shadow:0px 1px 1px #888;
	border:1px solid #eee;
	background:-moz-linear-gradient(top,#eee 0%,#fff 5%, #bbb 100%);
	background:-webkit-linear-gradient(top,#eee 0%,#fff 5%, #bbb 100%);
}

ul.button-group li {
	display:inline-block;
	margin:0 -2px;
	border-right:1px solid #eee;
	box-shadow:1px 0px 0px #aaa;
}

ul.button-group li.selected {
	background:-moz-linear-gradient(top,#FCBD64 0%,#fff 5%, #EDA72F 100%);
	background:-webkit-linear-gradient(top,#FCBD64 0%,#fff 5%, #EDA72F 100%);
}

ul.button-group li a {
	text-decoration:none;
	color:#333;
	font-size:1.25em;
	display:block;
	padding:8px 16px;
	text-align:center;
	cursor:pointer;
}

ul.button-group li:first-child a {
	border-top-left-radius:4px;
}

ul.button-group li a:active{
	background:-moz-linear-gradient(top,#aaa,#ddd);
	background:-webkit-linear-gradient(top,#aaa,#ddd);
}

table.file-table {
	width:100%;
}

.file-table .icon {
	margin:0px 5px;
	margin-bottom:-4px;
}

table.file-table tr:not(:first-child):nth-child(2n+1) {
	background:#eee;
}

table.file-table tr:nth-child(2n) {
	background:#f3f3f3;
}

.dialog {
	background:#eee;
	box-shadow:0px 2px 7px #999;
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	padding:8px;
	box-sizing:border-box;
}

.overlay {
	display:none;
	background:rgba(127,127,127,0.5);
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
}

table.html-editor-files {
	width:100%;
}

table.html-editor-files tr:nth-child(2n) {
	background:#eee;
}

table.html-editor-files tr:nth-child(2n+1) {
	background:#f3f3f3;
}

table.html-editor-files tr.new {
	background:#fff;
}

table.html-editor-files tr td {
	padding:4px;
}

table.html-editor-files .icon {
	margin-bottom:-4px;
	margin-left:4px;
	margin-right:8px;
}

div.html-editor-frame {
	background:#fff;
	position:absolute;
	top:50%;
	left:50%;
	width:90%;
	margin-left:-45%;
	margin-top:-235px;
	height:470px;
	padding:10px;
	box-shadow:0px 0px 5px #777;
}

.padding-10 {
	padding:10px;
}

table.backup-files {
	width:100%;
	border-spacing:0px;
	border:1px solid #ddd;
	box-shadow:0px 0px 4px #777;
}

table.backup-files tr td {
	padding:5px;
}

table.backup-files tr:nth-child(2n) {
	background:#eee;
}

table.backup-files tr:nth-child(2n+1) {
	background:#f3f3f3;
}

.alert {
	padding:5px;
	width:100%;
	box-sizing:border-box;
	margin:5px 0;
	border:1px solid #71C1ED;
	background:#D3EFFF;
	color:#51A1CD;
}

.alert.danger {
	border-color:#C64343;
	background:#FFC6C6;
	color:#C64343;
}

.alert.success {
	border-color:#63CC6E;
	background:#CCFFD1;
	color:#43AC4E;
}

#space-usage {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

table.user-list {
	border:1px solid #e0e0e0;
}

table.user-list tr:first-child {
	background:#e0e0e0;
}

table.user-list tr:nth-child(2n) {
	background:#E1EDF4;
}

table.user-list tr:not(:first-child):hover {
	background:#BEDAEA;
}

ul.paginator {
	list-style:none;
	margin:5px 0;
	padding:0;
}

ul.paginator:before {
	content:"Page:";
}

ul.paginator li {
	display:inline-block;
}

ul.paginator li a {
	display:block;
	width:18px;
	padding:4px 0;
	background:-moz-linear-gradient(top,#eee,#ccc);
	border:1px solid #ddd;
	text-decoration:none;
	text-align:center;
	color:#000;
}

fieldset {
	margin-bottom:15px;
	border-radius:8px;
	border:1px solid #999;
}

fieldset legend {
	font-size:1.25em;
	text-decoration:underline;
}